lxml
setuptools 
virtualenv 
wheel 
Cython 
pandas 
jupyter 
jupyterlab
requests 
stem 
SQLAlchemy 
beautifulsoup4
html5lib 
seaborn
mariadb
nltk
sklearn
PyMySQL
findspark
confluent_kafka
pexpect
websocket-client
